<%- include('header') %>

<div class="result">
    <% if(error) { %>
        <%= error %>
    <% } else { %>
        R$ <%= quantidade %> 
        Reais na cotação de
        <%= cotacao %>
		é igual a: 
		$ <%= conversao %> dolares
    <% } %>
</div>

<%- include('footer') %>

